In [1]:
import pandas as pd
import numpy as np

#### This notebook filters the annotated FAERS strings and drug matches to remove duplicates and save as CSVs.

Last run - 01-16-2022 with iteration 1, 2, and 3 of the FAERS reference set annotations. 

Last run - 01-31-2022 for iteration 4 with missing NPs in code block at the bottom

Details and NP list - https://github.com/rkboyce/NaPDI-pv/wiki/Natural-Product-List

In [2]:
#Data from iteration 1 - exact matches
df = pd.read_excel('NP_FAERS_Vocabulary_Reference_set_Jan2022.xlsx', sheet_name=0)
df.head()

,FAERS_drug_match,related_latin_binomial,related_common_name
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda
1,ASHWAGANDHA,Withania somnifera,Ashwaganda
2,"ASHWAGANDHA,",Withania somnifera,Ashwaganda
3,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda
4,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        1829 non-null   object
 1   related_latin_binomial  1829 non-null   object
 2   related_common_name     1829 non-null   object
dtypes: object(3)
memory usage: 43.0+ KB

In [ ]:
#add column with exact match?

In [4]:
#Data from iteration 2 - levenshtein matches
df2 = pd.read_excel('NP_FAERS_Vocabulary_Reference_set_Jan2022.xlsx', sheet_name=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        978 non-null    object
 1   related_latin_binomial  978 non-null    object
 2   related_common_name     978 non-null    object
dtypes: object(3)
memory usage: 23.0+ KB

In [5]:
#Data from iteration 3 - all matches for added NPs
df3 = pd.read_excel('NP_FAERS_Vocabulary_Reference_set_Jan2022.xlsx', sheet_name=2)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        523 non-null    object
 1   related_latin_binomial  523 non-null    object
 2   related_common_name     523 non-null    object
dtypes: object(3)
memory usage: 12.4+ KB

In [6]:
#concatenate dataframes and drop duplicates
df_all = pd.concat([df, df2, df3])
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3330 entries, 0 to 522
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        3330 non-null   object
 1   related_latin_binomial  3330 non-null   object
 2   related_common_name     3330 non-null   object
dtypes: object(3)
memory usage: 104.1+ KB

In [7]:
#remove duplicates from individual dataframes
df = df_all.drop_duplicates(ignore_index=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        1925 non-null   object
 1   related_latin_binomial  1925 non-null   object
 2   related_common_name     1925 non-null   object
dtypes: object(3)
memory usage: 45.2+ KB

In [9]:
df = df.sort_values(by=['related_common_name', 'related_latin_binomial'])
df.head()

     FAERS_drug_match related_latin_binomial related_common_name
1675        ALEO VERA              Aloe vera           Aloe vera
1676         ALOEVERA              Aloe vera           Aloe vera
1677          ALOVERA              Aloe vera           Aloe vera
1678    ALOA VERA OTC              Aloe vera           Aloe vera
1679  ALOE VERA (75%)              Aloe vera           Aloe vera

In [10]:
#save as CSV
df.to_csv('NP_FAERS_reference_set_all_20220117.csv', index=False)

In [1]:
##Iteration 4 for missing NPs - remove duplicates before annotation, then creating reference set file after annotation

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1= pd.read_csv('faers_drug_to_np_202201272040.csv')
df2 = pd.read_csv('faers_drug_to_np_lev_2_202201272040.csv')
df3 = pd.read_csv('faers_drug_to_np_lev_long_202201272041.csv')

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389 entries, 0 to 2388
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   drug_name_original      2389 non-null   object
 1   np_name                 2389 non-null   object
 2   related_common_name     2389 non-null   object
 3   related_latin_binomial  2389 non-null   object
dtypes: object(4)
memory usage: 74.8+ KB

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1172 entries, 0 to 1171
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   drug_name_original      1172 non-null   object
 1   np_name                 1172 non-null   object
 2   related_common_name     1172 non-null   object
 3   related_latin_binomial  1172 non-null   object
dtypes: object(4)
memory usage: 36.8+ KB

In [6]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   drug_name_original      1085 non-null   object
 1   np_name                 1085 non-null   object
 2   related_common_name     1085 non-null   object
 3   related_latin_binomial  1085 non-null   object
dtypes: object(4)
memory usage: 34.0+ KB

In [7]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646 entries, 0 to 4645
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   drug_name_original      4646 non-null   object
 1   np_name                 4646 non-null   object
 2   related_common_name     4646 non-null   object
 3   related_latin_binomial  4646 non-null   object
dtypes: object(4)
memory usage: 145.3+ KB

In [10]:
df = df.drop_duplicates(ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4506 entries, 0 to 4505
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   drug_name_original      4506 non-null   object
 1   np_name                 4506 non-null   object
 2   related_common_name     4506 non-null   object
 3   related_latin_binomial  4506 non-null   object
dtypes: object(4)
memory usage: 140.9+ KB

In [11]:
df = df.drop_duplicates(subset=['drug_name_original', 'np_name'], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3856 entries, 0 to 3855
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   drug_name_original      3856 non-null   object
 1   np_name                 3856 non-null   object
 2   related_common_name     3856 non-null   object
 3   related_latin_binomial  3856 non-null   object
dtypes: object(4)
memory usage: 120.6+ KB

In [12]:
df.head()

,drug_name_original,np_name,related_common_name,related_latin_binomial
0,SENNA-COL,SENNA,Senna,Senna alexandrina
1,SENNA-DOCUSATE 8.6-50MG,SENNA,Senna,Senna alexandrina
2,PURSENNID (PURSENNID),PURSENNID,Senna,Senna alexandrina
3,CRANBERRY EXTRACT [VACCINIUM OXYCOCCOS FRUIT E...,CRANBERRY,Cranberry,Vaccinium macrocarpon
4,X PREP [SENNA ALEXANDRINA EXTRACT],SENNA,Senna,Senna alexandrina

In [13]:
df = df.sort_values(by=['related_common_name', 'np_name', 'drug_name_original'])
df.head()

     drug_name_original np_name  related_common_name related_latin_binomial
2378                5CG     ACV  Apple cider vinegar        Malus domestica
2379                  A     ACV  Apple cider vinegar        Malus domestica
2381                A A     ACV  Apple cider vinegar        Malus domestica
2422                A+D     ACV  Apple cider vinegar        Malus domestica
2477                A-M     ACV  Apple cider vinegar        Malus domestica

In [14]:
df.to_csv('NP_FAERS_reference_set4.csv', index=False)

In [1]:
##after annotations, drop duplicates
import pandas as pd

In [2]:
df = pd.read_csv('NP_FAERS_reference_set_all_raw_20220131.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3205 entries, 0 to 3204
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        3205 non-null   object
 1   related_latin_binomial  1925 non-null   object
 2   related_common_name     3205 non-null   object
dtypes: object(3)
memory usage: 75.2+ KB

In [3]:
df_new = df.drop_duplicates(ignore_index=True)
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        2679 non-null   object
 1   related_latin_binomial  1925 non-null   object
 2   related_common_name     2679 non-null   object
dtypes: object(3)
memory usage: 62.9+ KB

In [6]:
df_new = df_new.sort_values(by=['related_common_name', 'FAERS_drug_match'])
df_new.head()

   FAERS_drug_match related_latin_binomial related_common_name
0         ALEO VERA              Aloe vera           Aloe vera
17   ALO VERA JUICE              Aloe vera           Aloe vera
3     ALOA VERA OTC              Aloe vera           Aloe vera
4   ALOE VERA (75%)              Aloe vera           Aloe vera
5     ALOE VERA CAP              Aloe vera           Aloe vera

In [8]:
df_new.to_csv('NP_FAERS_reference_set_all_20220131.csv', index=False)